sudo: required
services:
  - docker

before_install:
  - docker build -t yogeshpotdar42/docker-react1 -f Dockerfile.dev .

script:
  - docker run yogeshpotdar42/docker-react1 npm run test -- --coverage

   deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "docker"
    env: "Docker-env"
    bucket_name: "elasticbeanstalk-us-east-2-627493753005"
    bucket_path: "docker"
   on:
    branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
    secure: "$AWS_SECRET_KEY"

